body {
  background-color: #fff;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  color: var(--nord1);
}

.navigation {
  display: flex;
  flex-direction: column;
}
.navigation-links {
  display:flex;
  flex-direction: row-reverse;
  height: 100px;
  padding-right: 10em;
}

.link {
  margin: 5px;
  border-radius: 0.25em;
  transition: background-color 500ms ease-in-out 1s;
  padding-top: 4rem;
}

/* .link :hover{
  background-color: var(--nord5);
} */

.link a {
  text-decoration: none;
  margin: 10px;
  padding: 10px;
  color:inherit;
  transition: background-color 500ms ease-in-out 0s;
  border-radius: 5px;
}

.link a:hover {
  background: var(--nord5);
}
.home-detail {
  display: flex;
  flex-direction: row;
  margin: 20px;
  padding-right: 10rem;
  padding-left: 10em;
}

.user-detail {
  font-size: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 350px;
}

.about-me {
  margin-top: 5%;
  margin-left: 10%;
  font-size: 25px;
}

.social-links {
  display: flex;
  flex-direction: row;
  margin-left: 50%;
}
